@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: 'Montserra', sans-serif;
  background-color: transparent;
}

/* Header */
.header {
  background-color: #1962a8;
  color: white;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 100%;
  height: 50px;
  width: auto;
}

.account a {
margin: 0 20px;
font-size: 18px;
color: #dfe6e9;
border: 1px solid #EBE7DC;
padding: 10px 20px;
background-color: transparent;
border-radius: 10px;
font-weight: bold;
}

.account a:hover {
color: #E95426;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #E95426;
}

.language {
display: flex;
padding: 4px 0;
transform: translateX(50px);
}

.language a {
font-size: 15px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Main - Contact */

.box {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    background-color: transparent;
    padding: 40px 80px;
    width: 80%;
    border-radius: 50px;
    background-image: url(../Logo/innerBanner-lightblueCurve.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  
  .box h3 {
    font-size: 70px;
    color: #0056b3;
    font-weight: bold;
    margin: 0 30px;
  }

  .box h4 {
    font-size: 25px;
    color: #0056b3;
    margin-top: 30px;
  }

  .box i {
    font-size: 18px;
    margin-top: 10px;
  }

  .box i a {
    font-size: 20px;
    color: #0E0E0E;
  }

  .box i a:hover {
    color: #E95426;
  }
  
  .box p {
    font-size: 18px;
    margin: 10px 30px;
    padding: 10px 0;
    text-justify: inter-word;
    text-align: justify;
    justify-content: center;
    text-align: center;
  }
/* Footer */

footer {
  display: flex;
  background-color: transparent;
  color: #333;
  padding: 3rem 5rem;
  border-top: 3px solid #0056b3;
  margin-top: 50px;
  flex-direction: row;
  /* background-image: url(../Image/paper-background.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 20px;
}

.contact-us a {
  margin: 0 30px;
  border: 2px solid #0056b3;
  padding: 12px 30px;
  background-color: #E95426;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
}

.contact-us a:hover {
  color: #0E0E0E;
}

.copy {
  margin: 20px auto;
}


.address {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: space-between;
}

.address p {
  display: flex;
  align-items: center;
}

.address a {
  margin-top: 10px;
  color: #0E0E0E;
}

.address a:hover {
  color: #E95426;
}

.address img {
  width: 24px;
}

/* Responsive For Phone */
.account1 {
  display: none;
}

/* Responsive */
@media (max-width: 950px) {
  .hamburger {
    display: block;
}

.header {
    background-color: #1962a8;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #1962a8;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.language {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: translateX(0px);
}

.language a {
  display: flex;
  margin: 0px auto;

}

.language span {
  margin: 30px 10px;
}

.nav-links.active {
    display: flex;
}

.nav-links a {
    margin: 10px 0;
    font-size: 18px;
    padding: 0;
}

/* Main */
.box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  background-color: transparent;
  padding: 0;
  width: 100%;
  border-radius: 50px;
  background-image: url(../Logo/innerBanner-lightblueCurve.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.box img {
  width: 100%;
}

.box h3 {
  font-size: 30px;
  color: #0056b3;
  font-weight: bold;
  margin: 0 0px;
  text-align: center;
}

.box p {
  font-size: 15px;
}

.box i a {
  font-size: 15px;
}

.box h4 {
  font-size: 18px;
  text-align: center;
}

.box p {
  font-size: 14px;
  margin: 10px 10px;
  padding: 5px 0;
  text-justify: inter-word;
  text-align: justify;
}

.flex-container-question {
  margin: 0;
}

.flex-item-right, .flex-item-left {
  flex: 100%;
  margin: 0;
}

.faq-item {
  width: 100%;
  transform: translateY(-50px);
}

.flex-answer-left img {
  width: 100%;
  margin: 0;
}

.flex-answer-left, .flex-answer-right {
  flex: 100%;
  margin: 0;
}

.faq-answer {
  font-size: 15px;
  padding: 20px 20px;
  text-align: justify;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item-left, .flex-answer-right {
  margin: 0;
}

.flex-item-left span , .flex-answer-right span {
  font-size: 12px;
}

.flex-item-left img {
  width: 50%;
  margin: 50px 0;
  padding: 0;
}

.flex-item-right img {
  width: 50%;
  margin: 50px 0;
  padding: 0;
}

/* Footer */

.account {
  display: none;
}

.account1 {
  display: flex;
  flex-direction: column;
}

.account1 a {
  margin: 10px 0;
  border: 1px solid #dfe6e9;
  padding: 10px 0;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 0;
}

footer .contact-us {
  display: flex;
  justify-content: space-around;
}

footer .contact-us a {
  display: flex;
  margin: 0px;
  padding: 10px 20px;
}

footer .copy {
  width: 100%;
  margin: 30px 8px;
  padding: 0;
  font-size: 15px;
}

footer .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  font-size: 15px;
}

footer .address a {
  margin: 30px 0;
}

.address img {
  display: none;
}

}